<!DOCTYPE html>
<html>
	<head>
		<title>$(title)</title>
		<meta http-equiv="Content-Style-Type" content="text/css"/>
	</head>
	<body style='background-color: #808080'>
		<canvas id='html5CanvasElement' style = 'background-color: #000000; width: $(canvasWidth); height: $(canvasHeight);' >
			This text is displayed if your browser does not support HTML5 Canvas.
		</canvas>
		"$(copyFilePathArray)"
		<script src="$(bundleFilePath)" ></script>
	</body>
</html>
