<!DOCTYPE html>
<html>
	<head>
		<title>$(title)</title>
		<meta http-equiv="Content-Style-Type" content="text/css"/>
	</head>
	<body style='background-color: #FFFFFF'>
		<script src="$(bundlePath)" ></script>
$(scriptArray)
		<script >window.addEventListener('load', onPageLoad, true);</script>
	</body>
</html>
